.section-2 {
  font-family: 'Poppins', sans-serif; }
  .section-2 .launchplat {
    width: 100%;
    text-align: center; }
  .section-2 .heading {
    text-align: center;
    color: #FCFCFC;
    font-size: 24px;
    font-weight: 600; }
    .section-2 .heading h6 {
      color: #A6A6A6;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 500; }
  .section-2 .network-list {
    display: flex;
    justify-content: center; }
    .section-2 .network-list .cosmos-title {
      font-size: 14px; }
    .section-2 .network-list .network-section {
      background: rgba(40, 40, 40, 0.5);
      border-radius: 0px;
      width: 250px;
      text-align: center;
      color: #fff;
      padding: 35px 24px;
      border: 1px solid transparent;
      transition: all 0.5s ease-in-out;
      margin: 24px 10px;
      position: relative; }
      .section-2 .network-list .network-section .network-body .sub-section span {
        font-size: 11px;
        color: rgba(255, 255, 255, 0.66);
        font-weight: 400; }
      .section-2 .network-list .network-section .network-body .value {
        color: #47c28b; }
      .section-2 .network-list .network-section.multi {
        width: auto;
        display: flex;
        flex-direction: column; }
        .section-2 .network-list .network-section.multi .list {
          display: flex; }
          .section-2 .network-list .network-section.multi .list .network-body {
            width: 232px; }
  .section-2 .dropdown-menu.show {
    background: #2E2E2E;
    padding: 15px 0;
    border-radius: 8px; }
    .section-2 .dropdown-menu.show .dropdown-item {
      color: #FCFCFC;
      padding: 10px 30px; }
      .section-2 .dropdown-menu.show .dropdown-item:hover {
        background-color: #54555E; }
      .section-2 .dropdown-menu.show .dropdown-item:hover {
        background-color: #54555E; }
  .section-2 .upcoming-stakers {
    width: 100%;
    text-align: center;
    margin-bottom: 6rem; }
    .section-2 .upcoming-stakers .stakers-icons {
      display: flex;
      justify-content: space-evenly; }
    .section-2 .upcoming-stakers .icon-stake_icon_imgg {
      width: 80px;
      height: 80px;
      margin: 20px 35px !important; }
  .section-2 .title-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-2 .title-section .sort_sec {
      display: flex; }
    .section-2 .title-section h6 {
      color: rgba(255, 255, 255, 0.66);
      font-size: 18px;
      font-weight: normal;
      margin: 0; }
      .section-2 .title-section h6 svg {
        width: 20px;
        cursor: pointer; }
      .section-2 .title-section h6 span {
        color: rgba(255, 255, 255, 0.89);
        font-weight: 600; }
  .section-2 .network-section.cosmos-sub-section .cosmos-button {
    width: 170px;
    margin: auto; }
  .section-2 .network-section.cosmos-sub-section .networklist-tiles {
    max-width: 500px;
    width: 484px;
    margin: 0;
    padding: 24px;
    border-radius: 0; }
    .section-2 .network-section.cosmos-sub-section .networklist-tiles .cosmos-title {
      font-size: 18px;
      font-weight: 500;
      color: #ECECEC;
      margin: 0; }
  .section-2 .network-section.cosmos-sub-section .combine-section {
    display: flex;
    justify-content: space-between;
    padding: 35px 0; }
    .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section {
        text-align: center;
        margin-left: 10px; }
        .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section h5 {
          font-size: 16px; }
        .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section h5, .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section h4 {
          margin: 0; }
        .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section h4 {
          text-align: center;
          font-size: 18px;
          font-weight: 600; }
        .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section .sub-section h5 span {
          font-size: 11px;
          color: rgba(255, 255, 255, 0.66);
          font-weight: 400; }
  .section-2 .network-section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px; }
    .section-2 .network-section .cosmos-section {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .section-2 .network-section .cosmos-section .sub-section {
        text-align: left;
        margin-left: 10px; }
        .section-2 .network-section .cosmos-section .sub-section h5 {
          font-size: 16px;
          margin: 10px 0; }
        .section-2 .network-section .cosmos-section .sub-section h5, .section-2 .network-section .cosmos-section .sub-section h4 {
          margin: 10px 0; }
        .section-2 .network-section .cosmos-section .sub-section h4 {
          text-align: center;
          font-size: 18px;
          font-weight: 600; }
        .section-2 .network-section .cosmos-section .sub-section h5 span {
          font-size: 11px;
          color: rgba(255, 255, 255, 0.66);
          font-weight: 400; }
    .section-2 .network-section h5.coming-soon {
      font-size: 14px;
      font-weight: 600;
      padding: 10px 35px;
      cursor: not-allowed;
      background: #4A2A2A;
      border-radius: 6px;
      margin: 16px 0 0px; }
    .section-2 .network-section a {
      text-decoration: none; }
      .section-2 .network-section a:hover {
        text-decoration: none; }
      .section-2 .network-section a h5 {
        font-size: 14px;
        border-radius: 6px;
        padding: 10px 35px;
        cursor: pointer;
        color: #fff;
        background: #C73238;
        font-weight: 600;
        text-decoration: none;
        margin: 16px 0 0px;
        transition: all .5s ease-in-out; }
    .section-2 .network-section .info-text {
      position: absolute;
      top: 15px;
      width: 25px;
      right: 13px; }
      .section-2 .network-section .info-text .btn-success:not(:disabled):not(.disabled).active, .section-2 .network-section .info-text .btn-success:not(:disabled):not(.disabled):active, .section-2 .network-section .info-text .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: transparent;
        border-color: transparent; }
      .section-2 .network-section .info-text .btn-success:not(:disabled):not(.disabled).active:focus, .section-2 .network-section .info-text .btn-success:not(:disabled):not(.disabled):active:focus, .section-2 .network-section .info-text .show > .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem #48b46100; }
      .section-2 .network-section .info-text button {
        background: transparent;
        border: 0;
        padding: 0; }
        .section-2 .network-section .info-text button svg {
          width: 20px;
          height: 20px;
          stroke: #fff;
          transition: all 0.5s ease-in-out; }
          .section-2 .network-section .info-text button svg:hover {
            stroke: #E50913; }
    .section-2 .network-section .icon-social_icon_imgg {
      width: 88px;
      height: 88px; }
    .section-2 .network-section .networklist-tiles {
      background: rgba(40, 40, 40, 0.5);
      border-radius: 0px;
      width: 232px;
      text-align: center;
      color: #fff;
      padding: 35px 24px;
      border: 1px solid transparent;
      transition: all 0.5s ease-in-out;
      margin: 24px 10px;
      position: relative; }
      .section-2 .network-section .networklist-tiles h4 {
        color: #47C28B;
        font-weight: 600; }
    .section-2 .network-section h5 {
      color: rgba(255, 255, 255, 0.89);
      margin-top: 10px;
      font-weight: 600;
      font-size: 20px; }
    .section-2 .network-section h6 {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.66);
      font-weight: 400; }
    .section-2 .network-section h4 {
      font-size: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.89);
      letter-spacing: 0.1px;
      margin-top: 20px; }

@media (max-width: 991px) {
  .section-5 .title-section {
    flex-direction: column; }

  .section-5 .upcoming-stakers .stakers-icons {
    display: inline-block; }

  .section-5 .list-inline.social {
    display: inline-block !important; } }
@media (max-width: 480px) {
  .section-5 .upcoming-stakers .icon-stake_icon_imgg {
    margin: 10px 20px; } }
@media (max-width: 450px) {
  .section-2 .network-section.cosmos-sub-section .combine-section {
    display: flex;
    padding: 35px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center; }

  .section-2 .network-section.cosmos-sub-section .combine-section .cosmos-section {
    margin: 10px 0; } }

/*# sourceMappingURL=index.css.map */
