@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}
body, html {
  font-family: "Poppins", sans-serif !important;
  @apply bg-body-bg font-primary;
}

.socialLinks .socialIcon {
  fill: #a6a6a6;
  width: 12px;
  height: 12px;
}

.side-bar-icon {
  fill: #a6a6a6;
}

/* sidebar */
.close.offCanvas {
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.show.offCanvas {
  transform: none;
  transition: transform 0.4s ease-in-out;
}

.backDrop {
  transition: opacity 0.15s linear;
  background: #000;
}

.show .backDrop {
  opacity: 0.5;
}
/* custom button */
.custom {
  background: #181818;
  color: #fcfcfc;
  border: 0 solid;
}

.custom.connected {
  color: #47c28b;
  border: 0 solid;
  padding: 0;
}


.termsModal .modalDialog {
  max-width: 700px;
}


