/* custom button */
.custom {
    background: #181818;
    color: #fcfcfc;
    border: 0 solid;
}

.custom.connected {
    color: #47c28b;
    border: 0 solid;
    padding: 0;
}

/* sidebar */
.close.offCanvas {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.show.offCanvas {
    transform: none;
    transition: transform 0.4s ease-in-out;
}

.backDrop {
    transition: opacity 0.15s linear;
    background: #000;
}

.show .backDrop {
    opacity: 0.5;
}

/* custom spinner */
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 0.15em solid currentColor;
    border-right-color: transparent;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}

.spinner.light {
    color: #f8f9fa !important;
}

.filterButton.active {
    background: #ececec;
    border: 1px solid #ececec;
    color: #070b09;
}

/* overriding default modal style for staking modal */
.txnInfoModal .modalDialog {
    max-width: 577px;
}

.txnInfoModal .modalBody{
    padding: 0;
}

